@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    width: 100vw;
    height: 100vh;
  }

  .imgcolumn {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-y: auto;
  }

  .imgcolumn img {
    cursor: default;
  }

  .imgcolumn.open {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .popup-btn {
    display: block;
    z-index: 200;
  }

  .imgcolumn.open img {
    width: 50vw;
  }

  button {
    z-index: 10;
    right: 0;
    position: fixed;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }

}